@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Path_First_Title"] = "/";
    ViewData["Path_Second_Title"] = "/Home/Description";
    ViewData["Path_TitlePage"] = "/Home/Gallery";
    ViewData["TitlePage"] = ViewLocalize["Gallery_Title"];
    ViewData["First_Title"] = ViewLocalize["Main_Title"];
    ViewData["Second_Title"] = ViewLocalize["Description_Title"];
    ViewData["Contact_us"] = ViewLocalize["Contact_us"];
    ViewData["Phone"] = ViewLocalize["Phone"];
    
}

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8042.JPG">
                        <img src="~/img/IMG_8042.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8039.JPG">
                        <img src="img/IMG_8039.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7959.JPG">
                        <img src="img/IMG_7959.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8036.JPG">
                        <img src="img/IMG_8036.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7944.JPG">
                        <img src="img/IMG_7944.JPG">
                    </a>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7951.JPG">
                        <img src="img/IMG_7951.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7952.JPG">
                        <img src="img/IMG_7952.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7957.JPG">
                        <img src="img/IMG_7957.JPG">
                    </a>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7958.JPG">
                        <img src="img/IMG_7958.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8033.JPG">
                        <img src="img/IMG_8033.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8040.JPG">
                        <img src="img/IMG_8040.JPG">
                    </a>
                </div>
            </div>
	        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_7949.JPG">
                        <img src="img/IMG_7949.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8032.JPG">
                        <img src="img/IMG_8032.JPG">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="img/IMG_8041.JPG">
                        <img src="img/IMG_8041.JPG">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run(".tz-gallery");
</script>

';